$primary-soft: #84D187;
$primary : #00B207;
$primary-dark : #2C742F;
$secondary : #2388FF;
$warning: #FF8A00;
$danger : #EA4B48;
$white: #FFFFFF;

$gray-800 : #1A1A1A;
$gray-600 : #4D4D4D;
$gray-700 : #333333;
$gray-600 : #666666;
$gray-500 : #999999;
$gray-400 : #B3B3B3;
$gray-300 : #E6E6E6;
$gray-200 : #F2F2F2;

$green-800 : #002603;
$green-700 : #2B572E;
$green-600 : #406B42;
$green-500 : #618062;
$green-400 : #7A997C;
$green-300 : #b5dcb7;
$green-200 : #00B2071b;
