@use './_colors.module' as *;

@mixin small-text(){
   font-size: 0.90rem; 
}

@mixin body-text() {
    font-size: 1rem;
    color: $gray-500;
}

@mixin heading-01(){
    font-size: 3.5rem;
}

@mixin heading-02(){
   font-size: 3rem; 
}


@mixin heading-03(){
 font-size: 2.5rem;   
}

@mixin heading-04(){
    font-size: 2.25;
}

@mixin heading-05(){
    font-size: 2rem;
}