@use './_fonts.module' as *;
@use './_colors.module' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
}

html {
  font-size: 16px;
  font-family: 'Poppins';
  overflow-x: hidden !important;
  max-width: 100dvw !important;
}

p {
  @include body-text();
  font-weight: 400;
}

h1,h2,h3,h4,h5{
  font-weight: 600;
}

h1 {
  @include heading-01
};

h2 {
  @include heading-02
};

h3 {
  @include heading-03
};

h4 {
  @include heading-04
};

h5 {
  @include heading-05
};

button{
  border: none;
  cursor: pointer;
}

small {
 @include small-text()
};

a {
  color: $gray-800
};