@use '../../styles/_colors.module' as *;

.checkbox_container {
    display: flex;
    align-items: center;
    cursor: pointer;
    max-width: max-content;
    gap: 6px ;

    input[type=checkbox]{
        display: none;
    }

    .box {
        width: 20px;
        height: 20px;
        border: 1px solid $primary;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;

        svg {
            display: none !important;
        }

    }

    &:has(input[type=checkbox]:checked) {
        .box {
            background-color: $primary;

            svg {
                display: block !important;
            }

        }
    }

}