.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100dvw;

    .limit {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1600px;
        width: 100%;

        img {
            max-width: 700px;
            width: 50%;
            aspect-ratio: 16/9;
        }

        .info {
            padding-right: 12px;

            h1 {
                line-height: 1.1;
            }

            p {
                margin-block: 12px;
            }
        }
    }
}