.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100dvw;

    .limit {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1600px;
        width: 100%;

        img {
            max-width: 700px;
            width: 50%;
        }

        .info {
            padding-right: 12px;

            h1 {
                line-height: 1.1;
                display: flex;

                br{
                    display: none;
                }
            }

            p {
                margin-block: 12px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .limit {
        flex-direction: column;

        img {
            width: 80dvw !important;
            height: auto !important;
        }

        .info {
            padding-inline: 12px;

            h1 {
                font-size: 1.2rem;
            }

        }
    }
}