.container{
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    .not_found_page{
        flex: 1;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 20px;
        height: 100%;
        margin-bottom: 32px;
        img{
            width: 100% !important;
        }
    
        p{
            max-width: 600px;
        }
    }
}