@use './styles/_colors.module' as *;
@use './styles/_fonts.module' as *;

.home{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;

    main{
        flex: 1;
    }
}