.grid {
    display: grid;
    grid-template-areas: '1 2 3 4' '5 6 7 8';
    overflow: hidden;
    max-height: calc(298px * 2);


}

// 

@media screen and (max-width: 767px) {
    .grid{
        grid-template-areas: '1';
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .grid{
        grid-template-areas: '1 2';
    }
}
