@use '../../styles/_colors.module' as *;

.input_container {
    min-width: 150px;
    text-align: left !important;

    .input {
        display: flex;
        align-items: center;
        padding: 5px 16px;
        border-radius: 6px;
        border: 2px solid $gray-300;
        justify-content: space-between;
        gap: 8px;
      
        
        input {
            width: 100%;
            font-size: 1rem;
            border: none;
            height: 30px !important;
        }
   
    }

    .alertmsg {
        &.error {
            color: $danger;
        }

        &.success {
            color: $primary
        }

        &.warning {
            color: $warning
        }
    }
}